@charset "UTF-8";


body { 
    font-family: 'Montserrat', 'Black Han Sans', 'Gothic A1', Arial, Helvetica, sans-serif;
    font-size:14px;
}

ul:after {
    display:block;
    content:"";
    clear:both;
}

.blind { display:none; }

header {  }

#header_in {
  position:relative;
  width:1680px;
  margin:0 auto;
  height:80px;
}


header h1  {
  float:left;
  width:120px;
  height:50px;
  margin-left:30px;
  margin-top:10px;
  background:url('../img/logo.png')no-repeat;
  text-indent:-9999px;
  cursor:pointer;
}


.gnb { 
  float:right;
  margin-right:30px; 
  margin-top:20px;
}

.gnb li {
    display:inline-block;
    margin-left:30px;
}

.gnb a {
    font-size:18px;
    color:#111;
    font-family:'Gothic A1', sans-serif;
    font-weight:500;
}

.gnb a:hover {
    font-size:18px;
    color:#43b149;
    font-family:'Gothic A1', sans-serif;
    font-weight:700;
    transition:0.5
    1s;
}

.hamburg {
    vertical-align:bottom;
    cursor:pointer;
}


/* main intro */

#mainWrapper {
  position:relative;
  width:1920px;
  margin: auto;
  height:700px;

}

.main_intro { 
  padding-top:150px;
  margin-left:150px;
  text-align:center;
}



.main_intro .txt1 { 
    display:block; 
    font-size:18px; 
    margin-bottom:35px;
    font-family:'Gothic A1', sans-serif;
    color:#fff;
    line-height:1.3;
}

.main_intro .txt1 strong { color:#c1d57f}

.main_intro .txt2 {  margin-bottom:50px;

}

.main_intro p { 
  color:#fff;
  padding:30px 0; 
  transform:translate(15px, 0); 
  font-family:'Gothic A1', sans-serif;
  font-size:16px;
  color:#fff;
  line-height:1.3;
}


/*슬라이더 부분*/

.main_slider { 
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  width:1920px;
  height:700px;
  overflow:hidden;
}

.swiper-slide { }

.swiper-slide img { 
  width:1920px;
  height:700px; 
}

.swiper-button-prev, .swiper-button-next { color:#fff; z-index:10; }



.sectionWrap { 
  position:relative;
  top:0;
  left:0;
  width:1920px;
  height:900px;
  justify-content:center;
  margin:0 auto;
  background:radial-gradient(#463f69, #000);
}



/* section-01 */

.s01 { 
  position:relative;
  top:0;
  left:0; 
  width:100%;
}


.s01 > img {
    position:absolute;
    top:110px;
    left:130px;
    height:450px;
    z-index:10;
}

.bgEffect {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;     
   background-image:radial-gradient(circle at top left, rgba(0, 0, 0, 0)40%, rgba(0, 0, 0, 0.9) 100%);
   z-index:5; 
   opacity:0; 
   transition:2s ease-in 0.3s;
}

.bar {
    position:absolute;
    top:552px;
    left:10%;
    width:750px;
    height:8px;
    background:linear-gradient(to right, #43b149, #c1d57f );
    z-index:10;
    transition:0.3s; 
}

.txtWrap_animate {
    position:absolute;
    top:50px;
    left:60px;
    transform:translateY(125px);
}

.txtWrap_animate h1 {
    transform:translate(950px, 75px);
    font-family:'Black Han Sans', sans-serif;
    font-size:60px;
    font-weight:400;
    color:#fff;
}

.txtWrap_animate h2 {
    transform:translate(950px, 75px);
    font-family:'Gothic A1', sans-serif;
    font-size:24px;
    color:#43b149;
}



.txtWrap_animate p {
    transform:translate(950px, 115px);
    font-family:'Gothic A1', sans-serif;
    font-size:18px;
    color:#fff;
    line-height:1.5em;
}
/* button */
.btn {
  margin-top:25px;
  bottom:-350px;
  left:1010px;
  width: 310px;
  height: 70px;
  background: none;
  border: 4px solid;
  color:#fff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 4px;
  background: #43b149;;
  transform: skewX(50deg);
  transition: 0.4s linear;
}

.btn::before {
  top: -4px;
  left: 10%;
}

.btn::after {
  bottom: -4px;
  right: 10%;
}

.btn:hover::before {
  left: 80%;
}

.btn:hover::after {
  right: 80%;
}

/*section - 2 */
.s02 {  }

.s02 > img {
  position:absolute;
  bottom:0;
  right:0;
  height:450px;
  z-index:10;
}



/*section - 3 */
.sectionWrap2 { 
  position:relative;
  top:0;
  left:0;
  width:1920px;
  height:520px;
  justify-content:center;
  margin:0 auto;
  object-fit:contain;
}


.s03 > img {
  position:absolute;
  top:0px;
  left:0px;
  float:left;
  height:350px;
}

#s03Wrapper { 
  position:relative;
  width:1920px;
  margin: auto;
  height:350px;
 }


.txtWrap_animate3 {
  float:right;
  position:absolute;
  top:0px;
  right:0px;
  width:800px;
  height:350px;
  background:rgba(193, 213, 127,0.3)
}

.txtWrap_animate3 h1 {
  transform:translate(100px, 45px);
  font-family:'Black Han Sans', sans-serif;
  font-size:60px;
  font-weight:400;
  color:#585858;
}

.txtWrap_animate3 h2 {
  transform:translate(100px, 45px);
  font-family:'Gothic A1', sans-serif;
  font-size:24px;
  color:#585858;
}



.txtWrap_animate3 p {
  transform:translate(100px, 65px);
  font-family:'Gothic A1', sans-serif;
  font-size:18px;
  color:#585858;
  line-height:1.5em;


}

.search-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {    
  height: 70px;
  width:70px;
  overflow: hidden;
  background: rgba(255,255,255,0);
  border-radius:6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
  width:450px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
  width:100%;
  height: 50px;
  padding:0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top:0px;
  left:0px;
  background: transparent;
  box-sizing: border-box;
  border:none;
  outline:none;
  font-family:"Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#FFF;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width:70px;
  height:70px;
  border:none;
  border-radius:6px;
  background: #FFF;
  padding:0px;
  outline:none;
  position: relative;
  z-index: 2;
  float:right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height:50px;
  margin: 10px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width:22px;
  height:22px;
  display: inline-block;
  vertical-align: middle;
  position:relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
  position: absolute; 
  content:'';
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #FE5F55;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #FE5F55;
}
.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top:24px;
  right:20px;
  width:25px;
  height:25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
}
.search-wrapper.active .close {
  right:-50px;
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
  position:absolute;
  content:'';
  background: #FE5F55;
  border-radius: 2px;
}
.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}

/* footer */

footer {
  position:relative;
  margin:0 auto;
  width:1920px;
  height:80px;
  background:#585858;
}

.footerWrap {
  margin-top:50px;

}
.footerWrap p { 
  font-size:14px;
  color:#fff;
  text-align:center;
  padding-top:25px;
}

/* section - 04 */

.sectionWrap3 {
  position:relative;
  width:1920px;
  margin:0 auto;
  height:420px;

}

.s04 { }

.txtWrap_animate4 {
  margin:0 auto;
  width:1680px;
  padding-top:50px;
}

.txtWrap_animate4 h1 {
    display:flex;
    justify-content:center;
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:60px;
    color:#43b149;
    margin-bottom:15px;
}

.txtWrap_animate4 p {
    display:flex;
    justify-content:center;
    font-family:'Gothic A1', sans-serif;
    font-size:18px;
    color:#585858;
    line-height:1.5em;

}
/* button2 */
.btn2 {
  margin-top:-15px;
  bottom:250px;
  left:1220px;
  width: 310px;
  height: 70px;
  background: none;
  border: 4px solid;
  color:#43b149;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.btn2::before,
.btn2::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 4px;
  background: #fff;
  transform: skewX(50deg);
  transition: 0.4s linear;
}

.btn2::before {
  top: -4px;
  left: 10%;
}

.btn2::after {
  bottom: -4px;
  right: 10%;
}

.btn2:hover::before {
  left: 80%;
}

.btn2:hover::after {
  right: 80%;
}



/* slider_B*/
.slider_B {
    position: relative;
    width: 100%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_B #slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom:50px;
}

.slider_B .navigation{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_B .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 5px;
}

.slider_B .navigation li img{
    width: 300px;
    height: 200px;
    border: 4px solid #fff;
    border-radius: 12px;
}

.slider_B .navigation li img:hover{
    border: 4px solid #c1d57f;
    opacity: .8;
}

.slider_B h2 {
    position: relative;
    z-index: 100;
    font-size: 2em;
    color: #fff;
    text-align: center;
    max-width: 1000px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}




/* animate-txt */

.txtEffect2 {
    position:absolute;
    top:10%;
    font-size:60px;
    font-weight:700;
    animation:slideInLeft 2.5s ease-in-out forwards 0s
}





@keyframes slideInLeft {
    0%{
      color:rgba(255, 255, 255, 0.2);
      transform: translate(5%,15px);
      opacity: 0;
    }
    
    100%{
      transform: translate(35%,15px);
      color:rgb(255, 255, 255);
      opacity: 1;
    }  
  }



  .Iam {
    position:relative;
    transform:translateY(550px);
    left:-400px;
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
    margin-left:540px;
}

.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #43b149;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}



.snow {
  overflow:hidden;
	position: absolute;
	width: 1920px;
	height:900px;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width:1920px;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-560px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-560px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}


.loading { position:absolute; top:270px; left:0%; z-index:999; }
.loading span {
    margin-left:530px;
    display:inline-block;
    animation: loading 1.7s infinite alternate;
    font-size:56px;
    color:#fff;
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
  }
  loading span:nth-child(2) {
    animation-delay: .1s;
  }
  loading span:nth-child(3) {
    animation-delay: .2s;
  }
  loading span:nth-child(4) {
    animation-delay: .3s;
  }
  loading span:nth-child(5) {
    animation-delay: .4s;
  }
  loading span:nth-child(6) {
    animation-delay: .5s;
  }
  loading span:nth-child(7) {
    animation-delay: .6s;
  }
  @keyframes loading {
    0% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }